@page
@model CreateModel

@{
    ViewData["Title"] = "Create";
}
<div class="container mt-5">
    <div class="header-box mb-4">
        <h1>Create AppUser</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Nickname" class="control-label"></label>
                    <input asp-for="Input.Nickname" class="form-control" />
                    <span asp-validation-for="Input.Nickname" class="text-danger"></span>
                </div>
                <div class="form-group">
                <label asp-for="Input.Gender"></label>
                    @foreach (var t in Model.Genders)
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="radio" asp-for="Input.Gender" value="@t">
                            <label class="form-check-label" asp-for="Input.Gender">@t</label>
                        </div>
                    }
                </div>
                <span asp-validation-for="Input.Gender" class="text-danger"></span>
                <div class="form-group">
                    <label asp-for="Input.Email" class="control-label"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password" class="control-label"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.SecurityStamp" class="control-label"></label>
                    <input asp-for="Input.SecurityStamp" class="form-control" />
                    <span asp-validation-for="Input.SecurityStamp" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary mt-3 mb-1" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="Dashboard">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
