@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@using Microsoft.AspNetCore.Identity
@using WardrobeApp.Models

@inject SignInManager<AppUser> SignInManager

<div class="main-page-container">
	<div class="page-header">
		<h1>StyleBase</h1>
		<p>Your personal wardrobe organizer, outfit planner and clothing database</p>
	</div>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
		<div class="page-section">
			<p>Hello, admin.</p>
			<a class="button button--primary" asp-area="Administration" asp-page="Dashboard">Go to Admin Panel</a>
		</div>
		<div class="page-section">
			<a class="button button--primary" asp-page="Collection/Index">View Clothes</a>
			<a class="button button--primary" asp-page="Outfits/Index">View Outfits</a>
		</div>
    }
    else if (User.Identity.IsAuthenticated)
	{
		<div class="page-section">
		<a class="button button--primary" asp-page="Collection/Index">View Clothes</a>
		<a class="button button--primary" asp-page="Outfits/Index">View Outfits</a>
		</div>
	}
	else
	{
		<div class="page-section">
			<p>Please log in before you continue.</p>
			<div>
				<a class="button button--primary" asp-area="Identity" asp-page="/Account/Register">Register</a>
				<a class="button button--secondary" asp-area="Identity" asp-page="/Account/Login">Login</a>
			</div>
		</div>
	}
</div>
