@page
@model WardrobeApp.Pages.Outfits.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="main-page-container main-page-container--outfits">
    <div class="page-header">
        <h1>Your Outfits</h1>
        <p>See your outfit history</p>
    </div>

    <div class="button-container">
        <a class="button button--primary" asp-page="./Create">Create Outfit</a>
        <a class="button button--primary" asp-page="/Collection/Index">View Closet</a>
    </div>

    <div class="list-container">
        @foreach (var item in Model.Outfit)
        {
            <div class="outfit">
                <h2 class="outfit__name">@Html.DisplayFor(modelItem => item.Name)</h2>
                <div class="outfit__main">
                @if (item.Headwear.Image != null && item.Headwear.Image.Length > 0)
                {
                    <img class="outfit__image" src="data:image;base64,@(Convert.ToBase64String(item.Headwear.Image))" alt="Clothing Image" />
                }
                else
                {
                    <img class="outfit__image" src="data:image /gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Empty Image" />
                }

                @if (item.Top.Image != null && item.Top.Image.Length > 0)
                {
                    <img class="outfit__image" src="data:image;base64,@(Convert.ToBase64String(item.Top.Image))" alt="Clothing Image" />
                }
                else
                {
                    <img class="outfit__image" src="data:image /gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Empty Image" />
                }

                @if (item.Bottom.Image != null && item.Bottom.Image.Length > 0)
                {
                    <img class="outfit__image" src="data:image;base64,@(Convert.ToBase64String(item.Bottom.Image))" alt="Clothing Image" />
                }
                else
                {
                    <img class="outfit__image" src="data:image /gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Empty Image" />
                }

                @if (item.Footwear.Image != null && item.Footwear.Image.Length > 0)
                {
                    <img class="outfit__image" src="data:image;base64,@(Convert.ToBase64String(item.Footwear.Image))" alt="Clothing Image" />
                }
                else
                {
                    <img class="outfit__image" src="data:image /gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Empty Image" />
                }
                </div>
                <p class="outfit__date">@Html.DisplayFor(modelItem => item.Created)</p>
                <div class="outfit__options">
                    <a class="button button--primary" asp-page="./Details" asp-route-id="@item.Id">View</a>
                    <a class="button button--secondary" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            </div>
        }
    </div>
</div>