@page
@model WardrobeApp.Pages.ClothingItemCRUD.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="main-page-container">
    <div class="page-header">
        <h1>Delete</h1>
        <p>Are you sure?</p>
    </div>
    <div>
        <form method="post">
            <input type="hidden" asp-for="ClothingItem.Id" />
			<div class="button-container">
				<button type="submit" value="Delete" class="button button--primary">Delete</button>
				<a class="button button--secondary" asp-page="Index">Back to List</a>
			</div>
        </form>
    </div>
</div>