@page
@model WardrobeApp.Pages.ClothingItemCRUD.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="main-page-container">
    <div class="page-header">
        <h1>Delete</h1>
        <p>Are you sure?</p>
    </div>
    @if (Model.CanBeDeleted)
    {
        <div>
            <form method="post">
                <input type="hidden" asp-for="ClothingItem.Id" />
                <div class="button-container">
                    <button type="submit" value="Delete" class="button button--primary">Delete</button>
                    <a class="button button--secondary" asp-page="Index">Back to List</a>
                </div>
            </form>
        </div>
    }
    else
    {
        <div>
            <p>This item can't be deleted because it is part of an outfit.</p>
            <div class="button-container">
                <a class="button button--secondary" asp-page="Index">Back to List</a>
            </div>
        </div>
    }
</div>