@page
@model WardrobeApp.Pages.ClothingItemCRUD.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="main-page-container main-page-container--clothes">
    <div class="page-header">
        <h1>Your Closet</h1>
        <p>All your clothes in one place</p>
    </div>

    <div class="button-container">
        <a class="button button--primary" asp-page="./Create">Add Item</a>
        <a class="button button--primary" asp-page="/Outfits/Index">View Outfits</a>
    </div>

    <div class="list-container">
    @foreach (var item in Model.ClothingItem) {
        <div class="clothing-item">
            <h2 class="clothing-item__name">@Html.DisplayFor(modelItem => item.Name)</h2>
            @if (item.Image != null && item.Image.Length > 0)
            {
                <img class="clothing-item__image" src="data:image;base64,@(Convert.ToBase64String(item.Image))" alt="Clothing Image" />
            }
            else
            {
                <p>No image available</p>
            }
            <p class="clothing-item__type">Type: @Html.DisplayFor(modelItem => item.Type)</p>
            <div class="clothing-item__options">
                <a class="button button--primary" asp-page="./Edit" asp-route-id="@item.Id">Rename</a>
                <a class="button button--secondary" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </div>
        </div>
    }
    </div>
</div>
