<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WardrobeApp</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WardrobeApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navigation">
            <menu class="navigation__main">
                <ul class="navigation__section">
                    <li class="navigation__item navigation__item--name"><a asp-area="" asp-page="Index">StyleBase</a></li>
				    <li class="navigation__item navigation__item--link navigation__item--desktop-only"><a asp-area="" asp-page="/Collection/Index">Clothes</a></li>
                    <li class="navigation__item navigation__item--link navigation__item--desktop-only"><a asp-area="" asp-page="/Outfits/Index">Outfits</a></li>
                </ul>
                <partial name="_LoginPartial" />
            </menu>
        </nav>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>